<div class="min-h-screen flex flex-col bg-white text-white">
  <!-- Navbar -->
  <app-navbar></app-navbar>

  <div class="flex flex-1">
    <!-- Sidebar -->
    <div class="w-full md:w-64 bg-gray-800 text-white">
      <app-sidebar></app-sidebar>
    </div>

    <!-- Main content area -->
    <div class="flex flex-col w-full">
  
      <!-- Main content header -->
      <div id="main" class="main-content flex-1 bg-gray-200">
        
        <div class="bg-gray-800">
          <div class="bg-white p-3 shadow text-2xl text-gray-600">
            <i class="fa fa-tachometer-alt fa-2x"></i>
            <span> Panel de Administracion</span>
          </div>
        </div>
        
        <!-- Grid container for metric cards -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 p-6">
          
          <!-- Metric Card 1: Total Revenue -->
          <!-- <div class="card mb-3 w-96 h-50 mx-auto">
            <div class="row g-0">
              <div class="col-md-4 h-53 flex justify-center items-center bg-green-600">
                <a routerLink="/form1">
                  <i class="fa fa-laptop fa-2x text-white"></i>
                </a>
              </div>
              <div class="col-md-8 p-2">
                <div class="card-body">
                  <h5 class="card-title text-xl font-bold text-gray-600">Registrar Equipo</h5>
                </div>
              </div>
            </div>
          </div> -->

          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            Launch demo modal
          </button>

          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </div>
  

          <!-- Metric Card 2: Total Users -->
          <!-- <div class="card mb-3 w-96 h-50 mx-auto">
            <div class="row g-0">
              <div class="col-md-4 h-53 flex justify-center items-center bg-blue-600">
                <a routerLink="/form2">
                  <i class="fas fa-users fa-2x text-white"></i>
                </a>
              </div>
              <div class="col-md-8 p-1">
                <div class="card-body">
                  <h5 class="card-title text-xl font-bold text-gray-600">Registrar Usuario</h5>
                </div>
              </div>
            </div>
          </div> -->

          <!-- Metric Card 3: New Users -->
          <!-- <div class="card mb-3 w-96 h-50 mx-auto">
            <div class="row g-0">
              <div class="col-md-4 h-50 flex justify-center items-center bg-yellow-600">
                <a routerLink="/form3">
                  <i class="fa fa-file-alt fa-2x text-white"></i>
                </a>
              </div>
              <div class="col-md-8 p-4">
                <div class="card-body">
                  <h5 class="card-title text-xl font-bold text-gray-600">Registrar Licencia</h5>
                </div>
              </div>
            </div>
          </div>

        </div> 

      </div> 
    </div> 
  </div>  -->
</div> <!-- End of min-h-screen div -->
