<div class="min-h-screen flex flex-col bg-white text-white">
  <!-- Navbar -->
  <app-navbar></app-navbar>

  <div class="flex flex-1">
    <!-- Sidebar -->
    <div class="w-full md:w-64 text-white">
      <app-sidebar></app-sidebar>
    </div>

    <!-- Main content area -->
    <div class="flex flex-col w-full">
      <!-- Main content header -->
      <div id="main" class="main-content flex-1 bg-gray-200">
        <div class="bg-gray-800">
          <div class="bg-white p-3 shadow text-2xl text-gray-600">
            <i class="fa fa-tachometer-alt fa-x"></i>
            <span> Panel de Administración</span>
          </div>
        </div>

        <!-- Cards de resumen -->
        <div class="row row-cols-1 row-cols-md-3 p-4 g-4">
          <div class="col">
            <div class="card h-60">
              <a routerLink="/info" class="text-center">
                <i class="fa fa-laptop text-center m-2 fa-2x"></i>
              </a>
              <div class="card-body">
                <h5 class="card-title text-center">Equipos</h5>
                <p class="text-center text-xl">{{ totalEquipos }}</p>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-60">
              <a routerLink="/usuarios" class="text-center">
                <i class="fas fa-users fa-2x m-2 text-center"></i>
              </a>
              <div class="card-body">
                <h5 class="card-title text-center">Usuarios</h5>
                <p class="text-center text-xl">{{ totalColaboradores }}</p>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-60">
              <a routerLink="/licencias" class="text-center">
                <i class="fa fa-file-alt fa-2x m-2 text-center"></i>
              </a>
              <div class="card-body">
                <h5 class="card-title text-center">Licencias</h5>
                <p class="text-center text-xl">{{ totalLicencias }}</p>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>

        <!-- Otras 3 cards -->
        <div class="row row-cols-1 row-cols-md-3 p-4 g-4">
          <div class="col">
            <div class="card h-60">
              
                <i class="fa fa-tools fa-2x m-2 text-center"></i>
              </a>
              <div class="card-body">
                <h5 class="card-title text-center">Mantenimiento</h5>
                <p class="text-center text-xl">{{ totalMantenimientos }}</p>
                <p class="card-text"></p>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-60">
              <a routerLink="/impresoras" class="text-center">
                <i class="fa fa-print fa-2x m-2 text-center"></i>
              </a>
              <div class="card-body">
                <h5 class="card-title text-center">Impresoras</h5>
                <p class="text-center text-xl">{{ totalImpresoras }}</p>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-60">
              <a routerLink="/perifericos" class="text-center">
                <i class="fa fa-print fa-2x m-2 text-center"></i>
              </a>
              <div class="card-body">
                <h5 class="card-title text-center">Periféricos</h5>
                <p class="text-center text-xl">{{ totalPerifericos }}</p>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary"></small>
              </div> 
            </div>
          </div>
        </div>

        <!-- Botón para generar reporte -->
        <div class="p-4 flex justify-center">
          <div class="flex items-center space-x-4 bg-white p-4 rounded-lg shadow">
            <label for="area" class="text-gray-700">Selecciona un área:</label>
            <select id="area" [(ngModel)]="area" class="p-2 border rounded bg-gray-600">
              <option value="Abastecimiento">Abastecimiento</option>
          <option value="Almacen">Almacen</option>
          <option value="Calidad">Calidad</option>
          <option value="Compras">Compras</option>
          <option value="Contabilidad">Contabilidad</option>
          <option value="Despachos">Despachos</option>
          <option value="Gestion Humana">Gestion Humana</option>
          <option value="Investigacion y Desarrollo">
            Investigacion y Desarrollo
          </option>
          <option value="Logistica">Logistica</option>
          <option value="Mantenimiento">Mantenimiento</option>
          <option value="QBC">QBC</option>
          <option value="QCS">QCS</option>
          <option value="Surfactantes">Surfactantes</option>
          <option value="TIC">TIC</option>
              <!-- Agrega más opciones según tus áreas -->
            </select>
            <button (click)="descargarReporte()" class="bg-blue-500 text-white p-2 rounded hover:bg-blue-600">
              <i class="fa fa-download"></i> Generar Reporte
            </button>
          </div>
        </div>

        <!-- Tabla de usuarios -->
        <div class="card-body ml-4 mr-4 mt-4">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead class="bg-custom-blue">
                <th class="text-center">ID</th>
                <th class="text-center">NOMBRE</th>
                <th class="text-center">APELLIDO</th>
                <th class="text-center">EMPRESA</th>
                <th class="text-center">AREA</th>
                <th class="text-center">CARGO</th>
                <th class="text-center">DETALLE</th>
              </thead>
              <tbody>
                <tr *ngFor="let colaborador of filterColaboradores()">
                  <td class="text-center">{{ colaborador.id }}</td>
                  <td class="text-center">{{ colaborador.nombre }}</td>
                  <td class="text-center">{{ colaborador.apellido }}</td>
                  <td class="text-center">{{ colaborador.empresa }}</td>
                  <td class="text-center">{{ colaborador.area }}</td>
                  <td class="text-center">{{ colaborador.cargo }}</td>
                  <td [routerLink]="['/vermas', colaborador.id]" class="text-center">Ver Más</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>