<app-navbar></app-navbar>
<br>
<div class="card mb-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title text-xl font-bold text-center rounded-md">Registrar Equipos</h5>
    <a [routerLink]="['/form1']" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card text-center mb-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title text-xl font-bold text-center rounded-md">Registrar Usuario</h5>
    <a [routerLink]="['/form2']" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card text-end" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title text-xl font-bold text-center">Registrar Licencias de Office</h5>
    <a [routerLink]="['/form3']" class="btn btn-primary">Go somewhere</a>
  </div>
</div>