<div class="min-h-screen flex flex-col bg-white text-white">
    <!-- Navbar -->
    <app-navbar></app-navbar>
  
    <div class="flex flex-1">
      <!-- Sidebar -->
      <div class="w-full md:w-64 text-white">
        <app-sidebar></app-sidebar>
      </div>
  
      <!-- Main content area -->
      <div class="flex flex-col w-full">
    
        <!-- Main content header -->
        <div id="main" class="main-content flex-1 bg-gray-200">
          
          <div class="bg-gray-800">
            <div class="bg-white p-3 shadow text-2xl text-gray-600">
              <i class="fa fa-tachometer-alt fa-x"></i>
              <span> Panel de Administracion</span>
            </div>
          </div>
          
          <div class="container mt-4">
            <h2 class="text-center text-gray-600   mb-4">Detalles del Colaborador</h2>
          
            <!-- Tabla de información del colaborador -->
            <div class="card mb-4">
              <div class="card-header bg-primary text-white">
                Información del Colaborador
              </div>
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>Empresa</th>
                      <th>Área</th>
                      <th>Cargo</th>
                      <th>Licencia</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ colaborador.id_colaborador }}</td>
                      <td>{{ colaborador.nombre }}</td>
                      <td>{{ colaborador.apellido }}</td>
                      <td>{{ colaborador.empresa }}</td>
                      <td>{{ colaborador.area }}</td>
                      <td>{{ colaborador.cargo }}</td>
                      <td>{{ colaborador.licencia }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          
            <!-- Tabla de información del equipo -->
            <div class="card mb-4">
              <div class="card-header bg-success text-white">
                Información del Equipo
              </div>
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Marca</th>
                      <th>Modelo</th>
                      <th>Memoria</th>
                      <th>Procesador</th>
                      <th>Office</th>
                      <th>Serial</th>
                      <th>Sistema Operativo</th>
                      <th>Fecha Adquisicion</th>
                      <th>Estado</th>
                      <th>Archivo</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ equipo.id_equipo }}</td>
                      <td>{{ equipo.marca }}</td>
                      <td>{{ equipo.modelo }}</td>
                      <td>{{ equipo.memoria }}</td>
                      <td>{{ equipo.procesador }}</td>
                      <td>{{ equipo.office }}</td>
                      <td>{{ equipo.serial }}</td>
                      <td>{{ equipo.sistema_operativo }}</td>
                      <td>{{ equipo.fecha_adquisicion }}</td>
                      <td>{{ equipo.estado }}</td>
                      <td class="text-primary text-center">
                        <a
                          href="{{ equipo.archivo }}"
                          target="_blank"
                          class="text-blue-900"
                        >
                          <i class="fa fa-file text-2xl"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          
            <!-- Tabla de información de la licencia -->
            <div class="card mb-4">
              <div class="card-header bg-warning text-white">
                Información de la Licencia
              </div>
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Correo</th>
                      <th>Contraseña</th>
                      <th>Serial Office</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ licence.id_licencia }}</td>
                      <td>{{ licence.correo }}</td>
                      <td>{{ licence.contrasena }}</td>
                      <td>{{ licence.serial_office }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>