<div class="min-h-screen flex flex-col bg-white text-white">
    <!-- Navbar -->
    <app-navbar class="fixed top-0 w-full z-50"></app-navbar>
  
    <div class="flex flex-1 pt-16">
      <!-- Sidebar -->
      <div class="w-64  fixed h-screen  bg-gray-800 text-white z-40 overflow-y-auto">
        <app-sidebar></app-sidebar>
      </div>
  
      <!-- Main content area -->
      <div class="flex-1  ml-64 bg-gray-100 text-gray-900 overflow-y-auto">
    
        <!-- Main content header -->
        <div id="main" class="main-content flex-1 bg-gray-200">
          
          <div class="bg-gray-800">
            <div class="bg-white p-3 shadow text-2xl text-gray-600">
              <i class="fa fa-tachometer-alt fa-x"></i>
              <span> Detalles</span>
            </div>
          </div>
          
          <div class="container mt-4">
            <h3 class="text-center text-gray-600 mb-4">Detalles del Colaborador</h3>
            <div class="flex justify-center">
              <button
                class="bg-green-500 hover:bg-green-600 text-xl py-2 px-2 m-2 rounded shadow"
                type="button"
                routerLink="/content"
              >
                Volver
              </button>
            </div>
          
            <!-- Tabla de información del colaborador -->
            <div class="card mb-4 m-4">
              <div class="card-header text-white">
                Información del Colaborador
              </div>
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>Empresa</th>
                      <th>Área</th>
                      <th>Cargo</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ colaborador.id }}</td>
                      <td>{{ colaborador.nombre }}</td>
                      <td>{{ colaborador.apellido }}</td>
                      <td>{{ colaborador.empresa.nombre }}</td>
                      <td>{{ colaborador.area }}</td>
                      <td>{{ colaborador.cargo }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          
            <!-- Tabla de información del equipo -->
            <div class="card mb-4">
              <div class="card-header text-white">
                Información del Equipo
              </div>
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Marca</th>
                      <th>Modelo</th>
                      <th>Memoria</th>
                      <th>Procesador</th>
                      <th>Office</th>
                      <th>Serial</th>
                      <th>Sistema Operativo</th>
                      <th>Fecha Adquisicion</th>
                      <th>Estado</th>
                      <th>Responsable</th>
                      <th>Archivo</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center">{{ equipo.id }}</td>
                      <td class="text-center">{{ equipo.marca }}</td>
                      <td class="text-center">{{ equipo.modelo }}</td>
                      <td class="text-center">{{ equipo.memoria }}</td>
                      <td class="text-center">{{ equipo.procesador }}</td>
                      <td class="text-center">{{ equipo.office }}</td>
                      <td class="text-center">{{ equipo.serial }}</td>
                      <td class="text-center">
                        {{ equipo.sistema_operativo }}
                      </td>
                      <td class="text-center">
                        {{ equipo.fecha_adquisicion }}
                      </td>
                      <td class="text-center">{{ equipo.estado }}</td>
                      <td class="text-center">{{equipo.responsable.nombre}} {{equipo.responsable.apellido}}</td>
                      <td class="text-primary text-center">
                        <a href ="{{ equipo.archivo}}"
                          target="_blank"
                          class="text-blue-900"
                        >
                          <i class="fa fa-file text-2xl"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          
            <!-- Tabla de información de la licencia -->
            <div class="card mb-4">
              <div class="card-header text-white">
                Información de la Licencia
              </div>
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Tipo Licencia</th>
                      <th>Correo</th>
                      <th>Contraseña</th>
                      <th>Clave del Producto</th>
                      <th>Fecha de Compra</th>
                      <th>Fecha de Expiracion</th>
                      <th>Marca del Equipo</th>
                      <th>Serial del Equipo</th>
                      <th>Responsable</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ licence.id }}</td>
                      <td>{{ licence.tipo_licencia }}</td>
                      <td>{{ licence.correo }}</td>
                      <td>{{ licence.contrasena }}</td>
                      <td>{{ licence.clave_producto }}</td>
                      <td>{{ licence.fecha_compra }}</td>
                      <td>{{ licence.equipo?.marca }}</td>
                      <td>{{ licence.equipo?.serial}}</td>
                      <td>{{ licence.equipo?.responsable?.nombre }} {{licence.equipo?.responsable?.apellido}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="card mb-4 m-4">
              <div class="card-header text-white">
                Información del Mantenimiento
              </div>
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th class="text-center">Marca del Equipo</th>
                      <th class="text-center">Serial del Equipo</th>
                      <th class="text-center">Responsable</th>
                      <th class="text-center">Fecha de Mantenimiento</th>
                      <th class="text-center">Tipo de Mantenimiento</th>
                      <th class="text-center">Tipo de Servicio</th>
                      <th class="text-center">Descripcion</th>
                      <th class="text-center">Realizado por</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center">{{ mantenimiento.equipo.marca}}</td>
                      <td class="text-center">{{ mantenimiento.equipo.serial }}</td>
                      <td class="text-center">{{ mantenimiento.equipo.responsable.nombre }}{{mantenimiento.equipo.responsable.apellido}}</td>
                      <td class="text-center">{{ mantenimiento.fecha_mantenimiento }}</td>
                      <td class="text-center">{{ mantenimiento.tipo_mantenimiento}}</td>
                      <td class="text-center">{{ mantenimiento.tipo_servicio }}</td>
                      <td class="text-center">{{ mantenimiento.descripcion}}</td>
                      <td class="text-center">{{ mantenimiento.realizado_por }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="card mb-4 m-4">
              <div class="card-header text-white">
                Información del Periferico
              </div>
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Modelo</th>
                      <th>Numero Serie</th>
                      <th>Fecha Adquisicion</th>
                      <th>Responsable</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ periferico.id }}</td>
                        <td>{{ periferico.nombre }}</td>
                        <td>{{ periferico.modelo }}</td>
                        <td>{{ periferico.numero_serie }}</td>
                        <td>{{ periferico.fecha_adquisicion }}</td>
                        <td>{{ periferico.responsable.nombre }}{{periferico.responsable.apellido}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div> 
          </div>