<div class="min-h-screen flex flex-col bg-white text-white">
    <!-- Navbar -->
    <app-navbar></app-navbar>
    <div class="flex flex-1">
      <!-- Sidebar -->
      <div class="w-full md:w-64 bg-gray-800 text-white">
        <app-sidebar></app-sidebar>
      </div>
      <!-- Main content area -->
      <div class="flex flex-col w-full">
        <!-- Main content header -->
        <div id="main" class="main-content flex-1 bg-gray-200">
          <div class="bg-gray-800">
            <div class="bg-white p-3 shadow text-2xl text-gray-600">
                <i class="fa fa-print fa-x"></i>
              <span> Lista de Impresoras</span>
            </div>
          </div>
          <!-- Button trigger modal -->
          <div class="flex flex-col items-center mt-8 space-y-4">
            <!-- Botones centrados -->
            <div class="flex space-x-4">
              <button
                type="button"
                class="bg-blue-500 hover:bg-green-600 text-xl py-2 px-4 rounded shadow"
                data-bs-toggle="modal"
                data-bs-target="#impresoraModal"
              >
                Registrar Impresora
              </button>
              
              <button
                type="button"
                class="bg-blue-500 hover:bg-green-600 text-xl py-2 px-4 rounded shadow"
                data-bs-toggle="modal"
                data-bs-target="#mantenimientoModal"
              >
                Registrar Mantenimiento
              </button>
              
              <button
                class="bg-green-500 hover:bg-green-600 text-xl py-2 px-4 rounded shadow"
                type="button"
                routerLink="/content"
              >
                Volver
              </button>
            </div>
            <br>
            
            <!-- Filtro centrado abajo -->
            <div class="w-64">
              <input
                class="rounded-full text-black border-gray-300 shadow-sm focus:ring-2 focus:ring-blue-500 focus:outline-none px-4 py-2 w-full"
                type="search"
                placeholder="Search"
                [(ngModel)]="filter.searchTerm"
                name="searchTerm"
              />
            </div>
          </div>
          
          <!-- Modal Impresora -->
          <div
            class="modal fade"
            id="impresoraModal"
            tabindex="-1"
            aria-labelledby="impresoraModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1
                    class="modal-title fs-5 text-2xl font-bold text-gray-900"
                    id="impresoraModalLabel"
                  >
                    Registrar Impresora
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body"><app-formimpre></app-formimpre></div>
              </div>
            </div>
          </div>
          
          <!-- Modal Mantenimiento -->
          <div
            class="modal fade"
            id="mantenimientoModal"
            tabindex="-1"
            aria-labelledby="mantenimientoModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1
                    class="modal-title fs-5 text-2xl font-bold text-gray-900"
                    id="mantenimientoModalLabel"
                  >
                    Registrar Mantenimiento
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body"><app-mantenimprer></app-mantenimprer></div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card card-plain m-20">
              <div class="card-header card-header-danger">
                <h4 class="card-title text-center mt-0"></h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead class="">
                      <th class="text-center">ID</th>
                      <th class="text-center">NOMBRE</th>
                      <th class="text-center">DIRECCION IP</th>
                      <th class="text-center">Mantenimientos</th>
                      <th class="text-center">Editar</th>
                      <th class="text-center">Eliminar</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let impresora of filterImpresoras()">
                        <td class="text-center">{{ impresora.id }}</td>
                        <td class="text-center">{{ impresora.nombre }}</td>
                        <td class="text-center">{{ impresora.direccion_ip }}</td>
                        <td [routerLink]="['/details', impresora.id]" class="text-center">Ver Más</td>
                        <td class="py-2 px-3 text-center">
                          <button
                            type="button"
                            class="text-xl py-2 px-4 text-center"
                            data-bs-toggle="modal"
                            data-bs-target="#myModal"
                            (click)="editarImpresora(impresora)"
                          >
                            <i
                              class="fa fa-edit text-blue-500 text-center text-2xl"
                            ></i>
                          </button>
                          <!-- Modal -->
                          <div
                            *ngIf="modalAbierto"
                            class="modal fade show"
                            style="display: block"
                            tabindex="-1"
                          >
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Editar Usuario</h5>
                                  <button
                                    type="button"
                                    class="close"
                                    (click)="closeModal()"
                                  >
                                    &times;
                                  </button>
                                  <!-- Cerrar modal -->
                                </div>
                                <div class="modal-body">
                                  <div class="modal-body">
                                    <div class="container">
                                      <form id="registro-parametros-form">
                                        <div class="input-container">
                                          <div
                                            class="icon-container bg-cyan-500 text-white"
                                          >
                                          <i class="fa fa-print fa-2x m-2 text-center"></i>
                                          </div>
                                          <input
                                            type="text"
                                            id="nombre"
                                            name="nombre"
                                            placeholder="Nombre"
                                            [(ngModel)]="
                                              impresoraSeleccionado.nombre
                                            "
                                            required
                                          />
                                        </div>
                                        <div class="input-container">
                                          <div
                                            class="icon-container bg-cyan-500 text-white"
                                          >
                                          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-vcard-fill" viewBox="0 0 16 16">
                                            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm9 1.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4a.5.5 0 0 0-.5.5M9 8a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4A.5.5 0 0 0 9 8m1 2.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5m-1 2C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 0 2 13h6.96q.04-.245.04-.5M7 6a2 2 0 1 0-4 0 2 2 0 0 0 4 0"/>
                                          </svg>
                                          </div>
                                          <input
                                            type="text"
                                            id="ip"
                                            name="ip"
                                            placeholder="IP"
                                            [(ngModel)]="
                                            impresoraSeleccionado.direccion_ip
                                            "
                                            required
                                          />
                                        </div>
                                        <div class="modal-footer">
                                          <button
                                            type="button"
                                            class="btn btn-secondary"
                                            (click)="closeModal()"
                                          >
                                            Cerrar
                                          </button>
                                          <!-- Cerrar modal manualmente -->
                                          <button
                                            type="button"
                                            class="btn btn-primary"
                                            (click)="update()"
                                          > Actualizar </button>
                                        </div>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td class="py-2 px-3 text-center">
                          <button
                            type="button"
                            name="button"
                            class="text-center font-bold py-1 px-2"
                            (click)="delete(impresora.id)"
                          >
                            <i
                              class="fa fa-trash text-red-600 text-center text-2xl"
                            ></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  