<nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <!-- <div class="flex flex-shrink-0 items-center">
            <img class="img h-8 w-auto" src="https://cdn.leonardo.ai/users/b1854ff4-fe3b-4f8c-8278-fcebe8af8923/generations/e77813c2-1665-4aab-9429-be8c27827d88/Leonardo_Phoenix_Create_a_stylized_icon_image_that_represents_0.jpg">
          </div> -->
          <div class="flex flex-1 items-center justify-center">
            <div class="flex space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <h1 class="text-center rounded-md bg-gray-900 px-3 py-2 text-xl font-mono text-white" aria-current="page">INVENTARIO DE EQUIPOS</h1>       
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  