<nav class="bg-gray-800 shadow">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 items-center justify-center">
            <!-- Logo or Title -->
             <a routerLink="/content">
            <h1 class="text-2xl font-monrope font-bold text-white">
                INVENTARIO DE EQUIPOS
            </h1>
          </a>
            <!-- Menu button for mobile -->
            <div class="block lg:hidden">
              <button class="text-white focus:outline-none">
                <i class="fas fa-bars fa-2x"></i> <!-- Icono de menú hamburguesa -->
              </button>
            </div>
        </div>
    </div>
  </nav>
  