<div class="container">
  <form id="registro-parametros-form">
    <div class="input-container">
      <div
        class="icon-container bg-cyan-500 text-white"
      >
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-clipboard-check-fill" viewBox="0 0 16 16">
        <path d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5z"/>
        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5zm6.854 7.354-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708.708"/>
      </svg>
      </div>
      <input type="text" id="name" name="name" placeholder="Nombre"  [(ngModel)]="licence.nombre" required />
    </div>
    <div class="input-container">
      <div
        class="icon-container bg-cyan-500 text-white "
      >
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-qr-code" viewBox="0 0 16 16">
        <path d="M2 2h2v2H2z"/>
        <path d="M6 0v6H0V0zM5 1H1v4h4zM4 12H2v2h2z"/>
        <path d="M6 10v6H0v-6zm-5 1v4h4v-4zm11-9h2v2h-2z"/>
        <path d="M10 0v6h6V0zm5 1v4h-4V1zM8 1V0h1v2H8v2H7V1zm0 5V4h1v2zM6 8V7h1V6h1v2h1V7h5v1h-4v1H7V8zm0 0v1H2V8H1v1H0V7h3v1zm10 1h-1V7h1zm-1 0h-1v2h2v-1h-1zm-4 0h2v1h-1v1h-1zm2 3v-1h-1v1h-1v1H9v1h3v-2zm0 0h3v1h-2v1h-1zm-4-1v1h1v-2H7v1z"/>
        <path d="M7 12h1v3h4v1H7zm9 2v2h-3v-1h2v-1z"/>
      </svg>
      </div>
      <input
        type="text"
        id="contraseña"
        name="contraseña"
        placeholder="Contraseña"
        [(ngModel)]="licence.contrasena"
        required
      />
    </div>
    
    <button class="btn btn-primary" type="button" (click)="create()" *ngIf="!licence.id_licencia; else elseBlock">Registrar</button>

    <ng-template #elseBlock>
      <button class="btn btn-primary" type="button" (click)="update()">Actualizar</button>
    </ng-template>
  </form>
</div>

