<div class="sidebar flex flex-col bg-gray-100 text-white p-4" style="max-height: 110vh;">
  <div class="mb-8">
    <nav class="flex flex-col space-y-2">
      <a class="active flex items-center p-2 rounded hover:bg-gray-700 font-manrope text-lg" routerLink="/info">
        <i class="fa fa-laptop fa-lg mr-2"></i> Equipos
      </a>
      <a class="flex items-center p-2 rounded hover:bg-gray-700 font-manrope text-lg" routerLink="/usuarios">
        <i class="fa fa-address-book fa-lg mr-2"></i> Usuarios
      </a>
      <a class="flex items-center p-2 rounded hover:bg-gray-700 font-manrope text-lg" routerLink="/licencias">
        <i class="fa fa-file-alt fa-lg mr-2"></i> Licencias
      </a>
      <a class="flex items-center p-2 rounded hover:bg-gray-700 font-manrope text-lg" routerLink="/impresoras">
        <i class="fa fa-print fa-lg mr-2"></i> Impresoras
      </a>
      <a class="flex items-center p-2 rounded hover:bg-gray-700 font-manrope text-lg" routerLink="/manten">
        <i class="fa fa-tools fa-lg mr-2"></i> Mantenimiento
      </a>
      <a class="flex items-center p-2 rounded hover:bg-gray-700 font-manrope text-lg" routerLink="/perifericos">
        <i class="fa fa-mouse fa-lg mr-2"></i> Periféricos
      </a>
    </nav>
  </div>
  <div class="flex justify-center mt-8">
    <button class="flex items-center text-lg text-gray-600 hover:text-red-500 focus:outline-none" (click)="logout()">
      <i class="fas fa-sign-out-alt fa-lg mr-2"></i> Cerrar sesión
    </button>
  </div>
</div>