<!-- sidebar.component.html -->
<div class="sidebar">
  <a class="active text-center font-manrope text-lg" routerLink="/info"
    >Equipos <i class="fa fa-laptop fa-x"></i
  ></a>
  <a class="text-center font-manrope text-lg" routerLink="/usuarios"
    >Usuarios <i class="fa fa-address-book fa-x"></i
  ></a>
  <a class="text-center font-manrope text-lg" routerLink="/licencias"
    >Licencias <i class="fa fa-file-alt fa-x"></i
  ></a>
  <a class="text-center font-manrope text-lg" routerLink="/imprer"
    >Impresoras <i class="fa fa-print fa-x"></i
  ></a>
  <a class="text-center font-manrope text-lg" routerLink="/manten"
    >Mantenimiento <i class="fa fa-tools fa-x"></i
  ></a>
  <a class="text-center font-manrope text-lg" routerLink="/mapa"
    >Mapa<i class="fa fa-map-marker-alt fa-x"></i
  ></a>
</div>
<!-- <form method="POST" action="">
  <a role="menuitem" class="flex items-center text-[13px] py-1.5 px-4 text-gray-600 hover:text-[#f84525] hover:bg-gray-50 cursor-pointer dark:hover:bg-gray-700"
     onclick="event.preventDefault(); this.closest('form').submit();">
    Log Out
  </a>
</form> -->
<!-- Page content -->
<div class="content">..</div>
