<div class="min-h-screen flex flex-col bg-white text-white">
  <!-- Navbar -->
  <app-navbar></app-navbar>

  <div class="flex flex-1">
    <!-- Sidebar -->
    <div class="w-full md:w-64 bg-gray-800 text-white">
      <app-sidebar></app-sidebar>
    </div>

    <!-- Main content area -->
    <div class="flex flex-col w-full">
      <!-- Main content header -->
      <div id="main" class="main-content flex-1 bg-gray-200">
        <div class="bg-gray-800">
          <div class="bg-white p-3 shadow text-2xl text-gray-600">
            <i class="fa fa-user-cog fa-x"></i>
            <span> Lista de Usuarios</span>
          </div>
        </div>

        <!-- Button trigger modal -->
        <div class="flex justify-center items-center mt-16">
          <div class="flex flex-wrap space-x-4">
            <button
              type="button"
              class="bg-blue-500 hover:bg-green-600 text-xl py-2 px-4 rounded shadow"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              Registrar Usuario
            </button>

            <!-- Modal para registrar usuario -->
            <div
              class="modal fade"
              id="exampleModal"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1
                      class="modal-title fs-5 text-2xl font-bold text-gray-900"
                      id="exampleModalLabel"
                    >
                      Registrar Usuario
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <app-formuser></app-formuser>
                  </div>
                </div>
              </div>
            </div>

            <button
              class="bg-green-500 hover:bg-green-600 text-xl py-2 px-4 rounded shadow"
              type="button"
              routerLink="/content"
            >
              Volver
            </button>

            <div class="col">
              <input
                class="rounded-full text-black border-gray-300 shadow-sm focus:ring-2 focus:ring-blue-500 focus:outline-none px-4 py-2 w-full"
                type="search"
                placeholder="Search"
                [(ngModel)]="filter.searchTerm"
                name="searchTerm"
              />
            </div>
          </div>
        </div>

        <!-- Tabla de colaboradores -->
        <div class="col-md-12">
          <div class="card card-plain m-20">
            <div class="card-header card-header-danger">
              <h4 class="card-title text-center mt-0"></h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead class="">
                    <th class="text-center">ID</th>
                    <th class="text-center">NOMBRE</th>
                    <th class="text-center">APELLIDO</th>
                    <th class="text-center">EMPRESA</th>
                    <th class="text-center">AREA</th>
                    <th class="text-center">CARGO</th>
                    <th class="text-center">LICENCIA</th>
                    <th class="text-center">Editar</th>
                    <th class="text-center">Eliminar</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let colaborador of filterColaboradores()">
                      <td class="text-center">
                        {{ colaborador.id }}
                      </td>
                      <td class="text-center">{{ colaborador.nombre }}</td>
                      <td class="text-center">{{ colaborador.apellido }}</td>
                      <td class="text-center">{{ colaborador.empresa }}</td>
                      <td class="text-center">{{ colaborador.area }}</td>
                      <td class="text-center">{{ colaborador.cargo }}</td>
                      <td class="text-center">{{ colaborador.licencia }}</td>
                      <td class="py-2 px-3 text-center">
                        <button
                          type="button"
                          class="text-xl py-2 px-4 text-center"
                          (click)="openModalAndEdit(colaborador)"
                        >
                          <i
                            class="fa fa-edit text-blue-500 text-center text-2xl"
                          ></i>
                        </button>
                      </td>
                      <td class="py-2 px-3 text-center">
                        <button
                          type="button"
                          name="button"
                          class="text-center font-bold py-1 px-2"
                          (click)="delete(colaborador.id)"
                        >
                          <i
                            class="fa fa-trash text-red-600 text-center text-2xl"
                          ></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para editar colaborador (fuera de la tabla) -->
  <div
    *ngIf="modalAbierto"
    class="modal fade show"
    style="display: block"
    tabindex="-1"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-gray-900">Editar Colaborador</h5>
          <button type="button" class="close" (click)="closeModal()">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <form id="registro-parametros-form">
              <!-- Campos del formulario -->
              <div class="input-container">
                <div class="icon-container bg-cyan-500 text-white">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="30"
                    height="30"
                    fill="currentColor"
                    class="bi bi-person-vcard-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm9 1.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4a.5.5 0 0 0-.5.5M9 8a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4A.5.5 0 0 0 9 8m1 2.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5m-1 2C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 0 2 13h6.96q.04-.245.04-.5M7 6a2 2 0 1 0-4 0 2 2 0 0 0 4 0"
                    />
                  </svg>
                </div>
                <input
                  type="text"
                  id="nombre"
                  name="nombre"
                  placeholder="Nombre"
                  [(ngModel)]="colaboradorSeleccionado.nombre"
                  required
                />
              </div>
              <div class="input-container">
                <div class="icon-container bg-cyan-500 text-white">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="30"
                    height="30"
                    fill="currentColor"
                    class="bi bi-person-vcard-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm9 1.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4a.5.5 0 0 0-.5.5M9 8a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4A.5.5 0 0 0 9 8m1 2.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5m-1 2C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 0 2 13h6.96q.04-.245.04-.5M7 6a2 2 0 1 0-4 0 2 2 0 0 0 4 0"
                    />
                  </svg>
                </div>
                <input
                  type="text"
                  id="apellido"
                  name="apellido"
                  placeholder="Apellido"
                  [(ngModel)]="colaboradorSeleccionado.apellido"
                  required
                />
              </div>
              <div class="input-container">
                <div class="icon-container bg-cyan-500 text-white">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="30"
                    height="30"
                    fill="currentColor"
                    class="bi bi-buildings-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M15 .5a.5.5 0 0 0-.724-.447l-8 4A.5.5 0 0 0 6 4.5v3.14L.342 9.526A.5.5 0 0 0 0 10v5.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V14h1v1.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5zM2 11h1v1H2zm2 0h1v1H4zm-1 2v1H2v-1zm1 0h1v1H4zm9-10v1h-1V3zM8 5h1v1H8zm1 2v1H8V7zM8 9h1v1H8zm2 0h1v1h-1zm-1 2v1H8v-1zm1 0h1v1h-1zm3-2v1h-1V9zm-1 2h1v1h-1zm-2-4h1v1h-1zm3 0v1h-1V7zm-2-2v1h-1V5zm1 0h1v1h-1z"
                    />
                  </svg>
                </div>
                <select
                  class="form-select"
                  id="empresa"
                  [(ngModel)]="colaboradorSeleccionado.empresa"
                  name="empresa"
                >
                  <option value="" disabled selected>Seleccione...</option>
                  <option value="Químicos del Cauca">Químicos del Cauca</option>
                  <option value="Química Básica Colombiana">
                    Química Básica Colombiana
                  </option>
                  <option value="EcoVitta">EcoVitta</option>
                </select>
              </div>
              <div class="input-container">
                <div class="icon-container bg-cyan-500 text-white">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="30"
                    height="30"
                    fill="currentColor"
                    class="bi bi-geo-alt-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"
                    />
                  </svg>
                </div>
                <select
                  class="form-select"
                  id="area"
                  [(ngModel)]="colaboradorSeleccionado.area"
                  name="area"
                >
                  <option value="" disabled selected>Seleccione...</option>
                  <option value="Abastecimiento">Abastecimiento</option>
                  <option value="Almacen">Almacen</option>
                  <option value="Calidad">Calidad</option>
                  <option value="Compras">Compras</option>
                  <option value="Contabilidad">Contabilidad</option>
                  <option value="Despachos">Despachos</option>
                  <option value="Gestion Humana">Gestion Humana</option>
                  <option value="Investigacion y Desarrollo">
                    Investigacion y Desarrollo
                  </option>
                  <option value="Logistica">Logistica</option>
                  <option value="Mantenimiento">Mantenimiento</option>
                  <option value="QBC">QBC</option>
                  <option value="QCS">QCS</option>
                  <option value="Surfactantes">Surfactantes</option>
                  <option value="TIC">TIC</option>
                </select>
              </div>
              <div class="input-container">
                <div class="icon-container bg-cyan-500 text-white">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="30"
                    height="30"
                    fill="currentColor"
                    class="bi bi-briefcase-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5"
                    />
                    <path
                      d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85z"
                    />
                  </svg>
                </div>
                <input
                  type="text"
                  id="cargo"
                  name="cargo"
                  placeholder="Cargo"
                  [(ngModel)]="colaboradorSeleccionado.cargo"
                  required
                />
              </div>
              <div class="input-container">
                <div class="icon-container bg-cyan-500 text-white">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="30"
                    height="30"
                    fill="currentColor"
                    class="bi bi-clipboard-check-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5z"
                    />
                    <path
                      d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5zm6.854 7.354-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708.708"
                    />
                  </svg>
                </div>
                <input
                  type="text"
                  id="licencia"
                  name="licencia"
                  placeholder="Licencia"
                  [(ngModel)]="colaboradorSeleccionado.licencia"
                  required
                />
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  (click)="closeModal()"
                >
                  Cerrar
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="update()"
                >
                  Actualizar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
