<div class="min-h-screen flex flex-col bg-white text-white">
    <!-- Navbar -->
    <app-navbar></app-navbar>
  
    <div class="flex flex-1">
      <!-- Sidebar -->
      <div class="w-full md:w-64 bg-gray-800 text-white">
        <app-sidebar></app-sidebar>
      </div>
  
      <!-- Main content area -->
      <div class="flex flex-col w-full">
        <!-- Main content header -->
        <div id="main" class="main-content flex-1 bg-gray-200">
          <div class="bg-gray-800">
            <div class="bg-white p-3 shadow text-2xl text-gray-600">
              <i class="fa fa-list"></i>
              <span> Lista de Mantenimiento</span>
            </div>
          </div>
  
          <!-- Button trigger modal -->
  
          <div class="flex justify-center items-center mt-16">
            <div class="flex flex-wrap space-x-4">
              <button
                type="button"
                class="bg-blue-500 hover:bg-green-600 text-xl py-2 px-4 rounded shadow"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                Registrar Mantenimiento
              </button>
  
              <!-- Modal -->
              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1
                        class="modal-title fs-5 text-2xl font-bold text-gray-900"
                        id="exampleModalLabel"
                      >
                        Registrar Mantenimiento
                      </h1>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body"><app-formmante></app-formmante></div>
                  </div>
                </div>
              </div>
              <button
                class="bg-green-500 hover:bg-green-600 text-xl py-2 px-4 rounded shadow"
                type="button"
                routerLink="/content"
              >
                Volver
              </button>
              <div class="col">
                <input
                  class="rounded-full text-gray-900 border-gray-300 shadow-sm focus:ring-2 focus:ring-blue-500 focus:outline-none px-4 py-2 w-full"
                  type="search"
                  placeholder="Search"
                  name="searchTerm"
                  [(ngModel)]="filter.searchTerm" name="searchTerm"
                />
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card card-plain m-20">
              <div class="card-header card-header-danger">
                <h4 class="card-title text-center mt-0"></h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead class="">
                      <th class="text-center">EQUIPO</th>
                      <th class="text-center">FECHA</th>
                      <th class="text-center">TIPO</th>
                      <th class="text-center">DESCRIPCION</th>
                      <th class="text-center">RESPONSABLE</th>
                      <th class="text-center">EDITAR</th>
                      <th class="text-center">ELIMINAR</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let mantenimiento of filterMantenimientos()">
                        <td class="text-center">{{ mantenimiento?.equipo}}</td>
                        <td class="text-center">{{ mantenimiento?.fecha }}</td>
                        <td class="text-center">{{ mantenimiento?.tipo}}</td>
                        <td class="text-center">{{ mantenimiento?.descripcion}}</td>
                        <td class="text-center">{{ mantenimiento?.responsable}}</td>
                        <td class="py-2 px-3 text-center">
                          <button
                            type="button"
                            class="text-xl py-2 px-4 text-center"
                            data-bs-toggle="modal"
                            data-bs-target="#myModal"
                            (click)="editarMantenimiento(mantenimiento)"
                            (click)="openModal()"
                          >
                            <i
                              class="fa fa-edit text-blue-500 text-center text-2xl"
                            ></i>
                          </button>
                          <!-- Modal -->
                          <div
                            *ngIf="modalAbierto"
                            class="modal fade show"
                            style="display: block"
                            tabindex="-1"
                          >
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Editar Equipo</h5>
                                  <button
                                    type="button"
                                    class="close"
                                    (click)="closeModal()"
                                  >
                                    &times;
                                  </button>
                                  <!-- Cerrar modal -->
                                </div>
                                <div class="modal-body">
                                  <div class="modal-body">
                                    <div class="container">
                                      <form id="registro-parametros-form">
                                        <div class="input-container">
                                          <div
                                            class="icon-container bg-cyan-500 text-white"
                                          >
                                          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-laptop" viewBox="0 0 16 16">
                                            <path d="M13.5 3a.5.5 0 0 1 .5.5V11H2V3.5a.5.5 0 0 1 .5-.5zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2zM0 12.5h16a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5"/>
                                          </svg>
                                          </div>
                                          <input
                                            type="text"
                                            id="equipo"
                                            name="equipo"
                                            placeholder="equipo"
                                            [(ngModel)]="mantenimientoSeleccionado.equipo"
                                            required
                                          />
                                        </div>
                                        <div class="input-container">
                                          <div
                                            class="icon-container bg-cyan-500 text-white"
                                          >
                                          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-calendar2-week-fill" viewBox="0 0 16 16">
                                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5m9.954 3H2.545c-.3 0-.545.224-.545.5v1c0 .276.244.5.545.5h10.91c.3 0 .545-.224.545-.5v-1c0-.276-.244-.5-.546-.5M8.5 7a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM3 10.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5m3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"/>
                                          </svg>
                                          </div>
                                          <input
                                            type="text"
                                            id="fecha"
                                            name="fecha"
                                            placeholder="fecha"
                                            [(ngModel)]="
                                            mantenimientoSeleccionado.fecha
                                            "
                                            required
                                          />
                                        </div>
                                        <div class="input-container">
                                          <div
                                            class="icon-container bg-cyan-500 text-white"
                                          >
                                          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-tools" viewBox="0 0 16 16">
                                            <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3q0-.405-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708M3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026z"/>
                                          </svg>
                                          </div>
                                          <input
                                            type="text"
                                            id="tipo"
                                            name="tipo"
                                            placeholder="tipo"
                                            [(ngModel)]="
                                              mantenimientoSeleccionado.tipo
                                            "
                                            required
                                          />
                                        </div>
                                        <div class="input-container">
                                          <div class="icon-container bg-cyan-500 text-white">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-blockquote-right" viewBox="0 0 16 16">
                                              <path d="M2.5 3a.5.5 0 0 0 0 1h11a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h11a.5.5 0 0 0 0-1zm10.113-5.373a7 7 0 0 0-.445-.275l.21-.352q.183.111.452.287.27.176.51.428.234.246.398.562.164.31.164.692 0 .54-.216.873-.217.328-.721.328-.322 0-.504-.211a.7.7 0 0 1-.188-.463q0-.345.211-.521.205-.182.569-.182h.281a1.7 1.7 0 0 0-.123-.498 1.4 1.4 0 0 0-.252-.37 2 2 0 0 0-.346-.298m-2.168 0A7 7 0 0 0 10 6.352L10.21 6q.183.111.452.287.27.176.51.428.234.246.398.562.164.31.164.692 0 .54-.216.873-.217.328-.721.328-.322 0-.504-.211a.7.7 0 0 1-.188-.463q0-.345.211-.521.206-.182.569-.182h.281a1.8 1.8 0 0 0-.117-.492 1.4 1.4 0 0 0-.258-.375 2 2 0 0 0-.346-.3z"/>
                                            </svg>
                                          </div>
                                          <input
                                            type="text"
                                            id="descripcion"
                                            name="descripcion"
                                            placeholder="descripcion"
                                            [(ngModel)]="
                                            mantenimientoSeleccionado.descripcion
                                            "
                                            required
                                          />
                                        </div>
                                        <div class="modal-footer">
                                          <button
                                            type="button"
                                            class="btn btn-secondary"
                                            (click)="closeModal()"
                                          >
                                            Cerrar
                                          </button>
                                          <!-- Cerrar modal manualmente -->
                                          <button
                                            type="button"
                                            class="btn btn-primary"
                                            (click)="update()"
                                          >
                                            Actualizar
                                          </button>
                                        </div>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td class="py-2 px-3 text-center">
                          <button
                            type="button"
                            name="button"
                            class="text-center font-bold py-1 px-2"
                            (click)="delete(mantenimiento.id)"
                          >
                            <i
                              class="fa fa-trash text-red-600 text-center text-2xl"
                            ></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  