<div class="main-content">
    <div class="container-fluid">
      <div class="row">
<div class="min-h-screen flex flex-col bg-white text-white">
  <!-- Navbar -->
  <app-navbar></app-navbar>

  <div class="flex flex-1">
    <!-- Sidebar -->
    <div class="w-full md:w-64 bg-gray-800 text-white">
      <app-sidebar></app-sidebar>
    </div>

    <!-- Main content area -->
    <div class="flex flex-col w-full">
      <!-- Main content header -->
      <div id="main" class="main-content flex-1 bg-gray-200">
        <div class="bg-gray-800">
          <div class="bg-white p-3 shadow text-2xl text-gray-600">
            <i class="fa fa-user-cog fa-2x"></i>
            <span> Lista de Licencias</span>
          </div>
        </div>

        <!-- Button trigger modal -->

        <div class="flex justify-center items-center mt-16">
          <div class="flex flex-wrap space-x-4">
            <button
          type="button"
          class="bg-blue-500 hover:bg-green-600 text-xl py-2 px-4 rounded shadow"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Registrar Licencia
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5 text-2xl font-bold text-gray-900" id="exampleModalLabel">
                  Registrar Licencia
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body"><app-formoff></app-formoff></div>
            </div>
          </div>
        </div>
            <button
              class="bg-green-500 hover:bg-green-600 text-xl py-2 px-4 rounded shadow"
              type="button"
              routerLink="/content"
            >
              Volver
            </button>
            <div class="col">
              <input
                class="rounded-full border-gray-300 shadow-sm focus:ring-2 focus:ring-blue-500 focus:outline-none px-4 py-2 w-full"
                type="search"
                placeholder="Search"
                
                name="searchTerm"
              />
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card card-plain m-20">
            <div class="card-header card-header-danger">
              <h4 class="card-title text-center mt-0"></h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead class="">
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>CONTRASEÑA</th>
                    <th>EDITAR</th>
                    <th>ELIMINAR</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let licence of licences">
                      <td>{{ licence.id }}</td>
                      <td>{{ licence.nombre }}</td>
                      <td>{{ licence.contrasena }}</td>
    
                      <td class="py-2 px-3 text-center">
                        <button
                          type="button"
                          class="text-xl py-2 px-4 text-center"
                          data-bs-toggle="modal"
                          data-bs-target="#myModal"
                          (click)="editarLicence(licence)"
                          (click)="openModal()"
                        >
                          <i
                            class="fa fa-edit text-blue-500 text-center text-2xl"
                          ></i>
                        </button>
                        <!-- Modal -->
                        <div
                          *ngIf="modalAbierto"
                          class="modal fade show"
                          style="display: block"
                          tabindex="-1"
                        >
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Editar Licencia</h5>
                                <button
                                  type="button"
                                  class="close"
                                  (click)="closeModal()"
                                >
                                  &times;
                                </button>
                                <!-- Cerrar modal -->
                              </div>
                              <div class="modal-body">
                                <div class="modal-body">
                                  <div class="container">
                                    <form id="registro-parametros-form">
                                      <div class="input-container">
                                        <div
                                          class="icon-container bg-cyan-500 text-white"
                                        >
                                          <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="30"
                                            height="30"
                                            fill="currentColor"
                                            class="bi bi-motherboard"
                                            viewBox="0 0 16 16"
                                          >
                                            <path
                                              d="M11.5 2a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5m2 0a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5m-10 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1zM5 3a1 1 0 0 0-1 1h-.5a.5.5 0 0 0 0 1H4v1h-.5a.5.5 0 0 0 0 1H4a1 1 0 0 0 1 1v.5a.5.5 0 0 0 1 0V8h1v.5a.5.5 0 0 0 1 0V8a1 1 0 0 0 1-1h.5a.5.5 0 0 0 0-1H9V5h.5a.5.5 0 0 0 0-1H9a1 1 0 0 0-1-1v-.5a.5.5 0 0 0-1 0V3H6v-.5a.5.5 0 0 0-1 0zm0 1h3v3H5zm6.5 7a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"
                                            />
                                            <path
                                              d="M1 2a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-2H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 9H1V8H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6H1V5H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 2zm1 11a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1z"
                                            />
                                          </svg>
                                        </div>
                                        <input
                                          type="text"
                                          id="nombre"
                                          name="nombre"
                                          placeholder="Nombre"
                                          [(ngModel)]="licenceSeleccionado.nombre"
                                          required
                                        />
                                      </div>
                                      <div class="input-container">
                                        <div
                                          class="icon-container bg-cyan-500 text-white"
                                        >
                                          <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="30"
                                            height="30"
                                            fill="currentColor"
                                            class="bi bi-memory"
                                            viewBox="0 0 16 16"
                                          >
                                            <path
                                              d="M12 1.5H4a.5.5 0 0 0-.5.5v12a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5V2a.5.5 0 0 0-.5-.5zm-1 1v10H5V2h6z"
                                            />
                                          </svg>
                                        </div>
                                        <input
                                          type="text"
                                          id="contrasena"
                                          name="contrasena"
                                          placeholder="Contraseña"
                                          [(ngModel)]="
                                          licenceSeleccionado.contrasena
                                          "
                                          required
                                        />
                                      </div>
                                      <div class="modal-footer">
                                        <button
                                          type="button"
                                          class="btn btn-secondary"
                                          (click)="closeModal()"
                                        >
                                          Cerrar
                                        </button>
                                        <!-- Cerrar modal manualmente -->
                                        <button
                                          type="button"
                                          class="btn btn-primary"
                                          (click)="update()"
                                        >
                                          Actualizar
                                        </button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td class="py-2 px-3 text-center">
                        <button
                          type="button"
                          name="button"
                          class="text-center font-bold py-1 px-2"
                          (click)="delete(licence.id)"
                        >
                          <i
                            class="fa fa-trash text-red-600 text-center text-2xl"
                          ></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
