<body class="bg-blue-900 flex justify-center items-center min-h-screen p-4">
   
   <div class="w-full max-w-sm md:w-1\2 bg-white rounded-lg shadow-lg p-6">       
      <div class="flex justify-center mb-4">
          <img
             class="w-24 sm:w-32"
             src="https://media.licdn.com/dms/image/v2/D560BAQEdnHQHKn47SQ/company-logo_200_200/company-logo_200_200/0/1712241924456/qumica_bsica_colombiana_sa_logo?e=2147483647&v=beta&t=8i-mYEIaerHVASLmUsZVPOFJVtbwkaujLoUHagQENWw"
             alt="Logo"
           />
       </div>
        <h2 class="text-center text-lg sm:text-lg writing-mode-vertical-lr  font-bold text-gray-700  mb-3 sm:mb-4">Registrarme</h2>

        <form id="registro-usuarios-form" usuarioForm="ngForm" class="space-y-3 sm:space-y-4">
                    <input type="text" id="username" name="username" placeholder="Nombre de Usuario" [(ngModel)]="username" class="w-full px-4 py-3 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400 text-gray-800 text-sm sm:text-base">                    
                    <input type="password" id="password" [(ngModel)]="password" name="password"  placeholder="Contraseña" class="w-full px-4 py-3 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400 text-gray-800 text-sm sm:text-base">                    
                    
                    <div class="form-group text-sm sm:text-base">
                        <label class="custom-checkbox-label" for="is_staff">
                            <input type="checkbox" id="is_staff" class="custom-checkbox" [(ngModel)]="is_staff" name="is_staff">
                            <span class="custom-checkbox-box text-gray-700"> Es Administrador</span>
                        </label>
                    </div>
                    <button type="submit" class="w-full bg-blue-500  text-white py-2 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-300 ease-in-out text-sm sm:text-base" (click)="register()">Crear Cuenta</button>
        </form>
                <div *ngIf="successMessage" class="message success text-sm sm:text-base">
                    {{ successMessage }}
                </div>
                <div *ngIf="errorMessage" class="message error text-sm sm:text-base">
                    {{ errorMessage }}
                </div>
                <div class="text-center mt-4">
                    <span class="text-gray-500">¿Ya tienes cuenta?</span>
                    <a
                      class="text-blue-500 hover:underline ml-1"
                      [routerLink]="['/login']"
                    >
                      Iniciar Sesion
                    </a>
                </div>
    </div>

</body>